:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);

  --fs: 0.9375rem;
  --font-poppins: "Poppins", sans-serif;
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("/src/assets/fonts/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("/src/assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("/src/assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
